@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.App{
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.App h2{
  font-size: 6em;
  font-weight: 100;
  margin-top: 1em;
  margin-bottom: 0.5em; 
  color: #777;
}

@media (max-width: 767px){
  .App{
    padding: 5px;
  }
  .App h2{
    font-size: 3em;
  }
}