.new-task-input{
  width: 100%;
  padding: 10px 20px;
  font-size: 3em;
  font-weight: 100;
  text-decoration: none !important;
  outline: none !important;
  /*box-shadow: none !important;*/
  border: none;
  border-bottom: 1px solid #dedede;
  box-shadow: rgba(0,0,0,0.1) 0px 5px 10px;
  margin-bottom: 20px;
}

@media (max-width: 767px){
  .new-task-input{
    font-size: 1.5em;
    padding: 10px;
  }
}